@page
@model AboutModel
@{
    ViewData["Title"] = "About Concert Central";
    <link rel="icon" href="/images/ConcertCentral.png">
}
<h2>@ViewData["Title"]</h2>

<div>
    <span style="float: left ; width:50% ; padding-right:10px; padding-top: 25px;">
        <img src = "/images/Tejas.jpeg" height="250 px" width="175 px" style = "margin-left:150px">
        <p style="width:75%">
            Tejas Ghanekar is the CEO and co-founder of ConcertCentral. 
            A music buff himself, he envisioned and built ConcertCentral
            to be a homeground for eventplanners and for bands - big or small.  
            ConcertCentral has become one of the leading digital platforms to 
            aid event organizers, promoters, and event planners reach out to 
            bands in various genres and initiate the dialogue between them.
            Tejas worked at BandBuzz from 2010-2016 as their Head of PanPacific
            Media and Communication. 
        </p>
    </span>
    <span style="float: left ; width:50% ; padding-right:10px; padding-top: 25px;">
        <img src = "/images/Aparna.jpeg" height="250 px" width="200 px" style="margin-left:280px">
        <p style="width:75%; float:right">
            Aparna Ramtirthakar, co-founder and CFO, has had enormous experience
            leading Corporate Development, Finance, Accounting, Business Development,
            Investor Relations, Human Resources, and IT experience as a Business Head
            with BandBasics - ConcertCentral's biggest competitor. Aparna has led 
            ConcertCentral through one of
            the most ambitious projects it has undertaken as it acquired ArtArena.
        </p>
    </span>

</div>
<br clear = "both">