@page
@model HelpModel
@{
     ViewData["Title"] = "Help";
    <link rel="icon" href="/images/ConcertCentral.png">
}
<div>
    <p>
        <h3>The help page depicts the functionality of the website</h3>
    </p>
</div>
<hr/>
<div>
    <p>
        1. The "Home" page displays the relevant statistics and information related to the upcoming concerts.
        <img src = "/images/Home.PNG">
    </p>

</div>

<hr/>

<div>
    <p>
        2. The "About" page displays the information regarding Concert Central and its owners.
        <img src = "/images/About.PNG">
    </p>

</div>

<hr/>

<div>
    <p>
        3. The Admin can create a Band Profile and perform all the other CRUD oprations on it.
        <img src = "/images/CreateBand.PNG">
    </p>

</div>

<hr/>

<div>
    <p>
        4. The Admin can create a Event Planner profile and perform all the other CRUD oprations on it.
        <img src = "/images/CreateEventPlanner.PNG"> 
    </p>
       
</div>

<hr/>

<div>
    <p>
        5. The Admin can create a Concert profile and perform all the other CRUD oprations on it.
        <img src = "/images/CreateConcert.PNG">
    </p>

</div>

<hr/>

<div>
    <p>
        6. A user can see the consolidated view of all the concerts in the "Upcoming Concerts" tab.
        <img src = "/images/UpcomingConcerts.PNG">
    </p>

</div>

<hr/>

<div>
    <p>
        7. The "Top Bands Performing" tab shows the information about the concerts of the top bands that are performing.
        <img src = "/images/TopBands.PNG">
    </p>

</div>

<hr/>

<div>
    <p>
        8. The "Top Event Planners" tab shows the information about the concerts of the top Event Planers in the world.
        <img src = "/images/TopEventPlanners.PNG">
    </p>

</div>

<hr/>

<div>
    <p>
        9. A user can search for any upcoming concert using the "Search Concerts" tab, by the concert name.
        <img src = "/images/SearchConcert.PNG">
    </p>

</div>

<hr/>

<div>
    <p>
        10. A user can send his queries or grievance in the form of a message using the "Contact Us" tab .
        <img src = "/images/ContactUs.PNG">
    </p>

</div>

<hr/>

<div>
    <p>
        11. An Event Planner can change the minimum and maximum ticket price of a concert using the "Edit Ticekt Price" tab .
        <img src = "/images/UpdateTicketPrice.PNG">
    </p>

</div>

<hr/>

