@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    <link rel="icon" href="/images/ConcertCentral.png">
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>