@page
@model ConcertCentral.Pages.EventPlanners.EditModel

@{
    ViewData["Title"] = "Edit";
    <link rel="icon" href="/images/ConcertCentral.png">
}

<h2>Edit</h2>

<h4>EventPlanner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventPlanner.Id" />
            <div class="form-group">
                <label asp-for="EventPlanner.Name" class="control-label"></label>
                <input asp-for="EventPlanner.Name" class="form-control" />
                <span asp-validation-for="EventPlanner.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventPlanner.StreetAddressOne" class="control-label"></label>
                <input asp-for="EventPlanner.StreetAddressOne" class="form-control" />
                <span asp-validation-for="EventPlanner.StreetAddressOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventPlanner.StreetAddressTwo" class="control-label"></label>
                <input asp-for="EventPlanner.StreetAddressTwo" class="form-control" />
                <span asp-validation-for="EventPlanner.StreetAddressTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventPlanner.City" class="control-label"></label>
                <input asp-for="EventPlanner.City" class="form-control" />
                <span asp-validation-for="EventPlanner.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventPlanner.State" class="control-label"></label>
                <input asp-for="EventPlanner.State" class="form-control" />
                <span asp-validation-for="EventPlanner.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventPlanner.Zip" class="control-label"></label>
                <input asp-for="EventPlanner.Zip" class="form-control" />
                <span asp-validation-for="EventPlanner.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventPlanner.ContactNumber" class="control-label"></label>
                <input asp-for="EventPlanner.ContactNumber" class="form-control" />
                <span asp-validation-for="EventPlanner.ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
